:root {
  --main-bg: #121212;
  --main-color: #FFD700;
  --text-color: #fff;
}
body {
  font-family: 'Inter', sans-serif;
}

.section-title, h2, h4 {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.5px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--main-bg);
  color: var(--text-color);
}

a {
  color: var(--main-color);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body, html, #root {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}



body {
  text-align: center;
}
